<section class="user-home-wrapper">

  <div class="review-container flex-base-row-center">
    <section class="review-user-section">
      <div class="review-user-section-title flex-base-row-start default-cursor">
        <img src="../assets/mailbox-down-icon.svg" alt="Review">
        <p>Review Requests</p>
        <user-header></user-header>
      </div>

      <div class="loading-container flex-base-col-center" ng-if="reviewCtrl.loading">
        <div class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      </div>

      <div class="review-content-container flex-base-col-start default-cursor" ng-if="!reviewCtrl.loading && reviewCtrl.received.length > 0">
        <div class="content-row flex-base-row-start">
          <p style="font-size: 16px;"> Check box to connect and share addresses.</p>
        </div>

        <div class="request-row flex-base-row-start"
             ng-repeat="invite in reviewCtrl.received track by $index"
             ng-click="reviewCtrl.selectUser(invite.selected, invite, this)">
          <img src="../assets/checkbox-unchecked.svg" alt="checkbox-unchecked" ng-show="!invite.selected">
          <img src="../assets/checkbox-checked.svg" alt="checkbox-checked" ng-show="invite.selected">
          <div class="request-info">
            <div class="info-col">
              <p id="name">{{invite.firstName}} {{ invite.lastName }}</p>
            </div>
            <div class="info-col">
              <p id="email">{{ invite.email }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="review-buttons-container flex-base-row-start" ng-if="!reviewCtrl.loading && reviewCtrl.received.length > 0">
        <div class="btn cancel-btn flex-base-col-center" ng-click="reviewCtrl.cancel()">
          <p>Cancel</p>
        </div>
        <div class="btn flex-base-col-center" ng-click="reviewCtrl.acceptInvites()">
          <p>Save</p>
        </div>
      </div>

    </section>
  </div>
</section>