<section class="user-home-wrapper">
  <!--<user-header></user-header>-->

  <div class="review-container flex-base-row-center">
    <section class="review-user-section">
      <div class="review-user-section-title flex-base-row-start default-cursor">
        <img src="../assets/mailbox-down-icon.svg" alt="Review">
        <p>Requests Received</p>
      </div>
      <div class="review-content-container flex-base-col-start default-cursor">
        <div class="content-row flex-base-row-start">
          <p style="font-size: 16px;"> Check box to accept user request to connect and share addresses.</p>
        </div>

        <div class="request-row flex-base-row-start"
             ng-repeat="invite in reviewCtrl.received track by $index"
             ng-click="reviewCtrl.selectUser(invite.selected, invite, this)">
          <img src="../assets/checkbox-unchecked.svg" alt="checkbox-unchecked" ng-show="!invite.selected">
          <img src="../assets/checkbox-checked.svg" alt="checkbox-checked" ng-show="invite.selected">
          <p><span id="name">{{invite.firstName}} {{ invite.lastName }}</span> &nbsp;({{ invite.email }})</p>
        </div>
      </div>

      <div class="review-buttons-container flex-base-row-start">
        <div class="btn cancel-btn flex-base-col-center" ng-click="reviewCtrl.cancel()">
          <p>Cancel</p>
        </div>
        <div class="btn flex-base-col-center" ng-click="reviewCtrl.acceptInvites()">
          <p>Save</p>
        </div>
      </div>

    </section>
  </div>
</section>