<div class="form-page-wrap flex-base-col-center login-signup-wrap-background" style="min-height: 560px;
">
  <div class="form-container new-address-form">
    <div class="title flex-base-row-center">
      <img src="../assets/snail-icon.svg" alt="SnailBox">
      <div class="new-address-title">
        <h5>Welcome to SnailBox!</h5>
        <p>&nbsp;What's your address?</p>
      </div>
    </div>

    <div class="flex-base-col-center error-container" ng-if="newAddressCtrl.error">
      <p class="err-txt">Please Complete Form</p>
    </div>

    <div>
      <form name="newAddress" ng-submit="newAddressCtrl.submitNewAddress(newAddress.$valid)" novalidate>

        <input type="text"
               placeholder="Address Line 1"
               name="address1"
               ng-model="newAddressCtrl.newAddressData.address1"
               ng-model-options="{debounce: 1500}"
               ng-class="newAddress.address1.$invalid && !newAddress.address1.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               placeholder="Address Line 2">

        <input type="text"
               placeholder="City"
               name="city"
               ng-model="newAddressCtrl.newAddressData.city"
               ng-model-options="{debounce: 1500}"
               ng-class="newAddress.city.$invalid && !newAddress.city.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               placeholder="State"
               name="state"
               ng-model="newAddressCtrl.newAddressData.state"
               ng-model-options="{debounce: 1500}"
               ng-class="newAddress.state.$invalid && !newAddress.state.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               placeholder="Postal Code"
               name="postalCode"
               ng-model="newAddressCtrl.newAddressData.postal_code"
               ng-model-options="{debounce: 1500}"
               ng-class="newAddress.postalCode.$invalid && !newAddress.postalCode.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               placeholder="Country"
               name="country"
               ng-model="newAddressCtrl.newAddressData.country"
               ng-model-options="{debounce: 1500}"
               ng-class="newAddress.country.$invalid && !newAddress.country.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <button class="btn flex-base-col-center" type="submit">
          <p>Save Address</p>
        </button>
      </form>

      <div class="flex-base-row-center row address-locked-note">
        <img src="../assets/lock-icon.svg" alt="">
        <p>Address is locked and will only be visible to those who you share it with. View permissions and revoke access
          in Address Book.</p>
      </div>

    </div>


  </div>
</div>
