<div class="form-page-wrap flex-base-col-center edit-wrap-background" style="min-height: 560px;
">
  <div class="form-container address-form">
    <div class="title flex-base-row-center">
      <img src="../assets/snail-icon.svg" alt="SnailBox">
      <div class="address-title default-cursor">
        <h5>Edit My Address</h5>
      </div>
    </div>

    <div class="flex-base-col-center error-container" ng-if="editAddressCtrl.error">
      <p class="err-txt default-cursor">Please Complete Form</p>
    </div>

    <div>
      <form name="editAddress" ng-submit="editAddressCtrl.submitUpdatedAddress(editAddress.$valid)" novalidate>

        <input type="text"
               placeholder="Address Line 1"
               name="address1"
               ng-model="editAddressCtrl.userAddress.address1"
               ng-model-options="{debounce: 1500}"
               ng-class="editAddressCtrl.address1.$invalid && !editAddressCtrl.address1.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               ng-model="editAddressCtrl.userAddress2" editAddressCtrl.userAddress
               placeholder="Address Line 2">

        <input type="text"
               placeholder="City"
               name="city"
               ng-model="editAddressCtrl.userAddress.city"
               ng-model-options="{debounce: 1500}"
               ng-class="editAddressCtrl.city.$invalid && !editAddressCtrl.city.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               placeholder="State"
               name="state"
               ng-model="editAddressCtrl.userAddress.state"
               ng-model-options="{debounce: 1500}"
               ng-class="editAddressCtrl.state.$invalid && !editAddressCtrl.state.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               placeholder="Postal Code"
               name="postalCode"
               ng-model="editAddressCtrl.userAddress.postal_code"
               ng-model-options="{debounce: 1500}"
               ng-class="editAddressCtrl.postalCode.$invalid && !editAddressCtrl.postalCode.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <input type="text"
               placeholder="Country"
               name="country"
               ng-model="editAddressCtrl.userAddress.country"
               ng-model-options="{debounce: 1500}"
               ng-class="editAddressCtrl.country.$invalid && !newAddress.country.$pristine ? 'invalid-input' : 'valid-input'"
               required>

        <button class="btn flex-base-col-center" type="submit">
          <p>Update Address</p>
        </button>
      </form>

      <div class="flex-base-row-center row address-locked-note default-cursor">
        <img src="../assets/lock-icon.svg" alt="">
        <p>Address is locked and will only be visible to those who you share it with. View permissions and revoke access
          in Address Book.</p>
      </div>
    </div>
  </div>
</div>