@import "base.less";

.user-home-header {
  height: 50px;
  position: absolute;
  right: 5px;
  top: 0;
  img {
    width: 25px !important;
    margin: 0 7px;
    cursor: pointer;
    &:last-child {
      width: 22px !important;
    }
  }
}