@import "base.less";

.user-home-wrap {
  width: 100%;
  flex-flow: wrap;
  padding-top: 10px;
  padding-left: 10px;
}

.user-section {
  width: 260px;
  border: 1px solid #455A64;
  border-radius: 2px;
  margin: 10px;
  .user-section-title {
    height: 40px;
    width: 100%;
    padding: 26px 20px;
    background: #455A64;
    margin-bottom: 6px;
    img {
      width: 28px;
    }
    p {
      color: #FFFFFF;
      font-size: 22px;
      font-family: 'Lato', 'Open Sans', sans-serif;
      font-weight: 300;
      margin-left: 12px;
    }
  }
  .content-container {
    .content-row {
      padding: 0 16px;
      width: 100%;
      p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: #455A64;
      }
    }
    .actions-top {
      margin-top: 6px;
    }
    .actions {
      border-top: 1px solid #EEEEEE;
      padding: 10px 6px 10px 14px;
      cursor: pointer;
      &:hover {
        background: #f6f6f6;
      }
      p {
        font-family: 'Lato', 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #455A64;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 580px) {
  .user-section {
    width: 96% !important;
  }

  .user-home-wrap {
    padding: 10px !important;
  }
}