@import "base.less";

.user-home-wrap {
  width: 100%;
  min-height: ~"calc(100% - 45px)";
  flex-flow: wrap;
  padding-top: 10px;
  padding-left: 10px;
  background-image: url("../assets/snailbox-main20p.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-section {
  width: 360px;
  min-height: 260px;
  border: 1px solid #455A64;
  border-radius: 2px;
  margin: 10px;
  background: #FFFFFF;
  box-shadow: 2px 2px 2px #AAA;
  .user-section-title {
    height: 40px;
    width: 100%;
    padding: 26px 20px;
    background: #455A64;
    margin-bottom: 6px;
    img {
      width: 28px;
    }
    p {
      color: #FFFFFF;
      font-size: 22px;
      font-family: 'Lato', 'Open Sans', sans-serif;
      font-weight: 300;
      margin-left: 12px;
    }
  }
  .content-container {
    .content-row {
      padding: 0 16px;
      width: 100%;
      p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: #455A64;
      }
    }
    .actions-top {
      margin-top: 6px;
    }
    .actions {
      border-top: 1px solid #EEEEEE;
      padding: 10px 6px 10px 14px;
      cursor: pointer;
      &:hover {
        background: #f1f1f1;
      }
      p {
        font-family: 'Lato', 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #455A64;
        margin-left: 10px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .user-section {
    width: 400px !important;
  }

  .user-home-wrap {
    padding: 10px !important;
  }
}

@media (max-width: 1160px) {
  .user-home-wrap {
    padding: 10px !important;
  }
}

@media (max-width: 785px) {
  .user-section {
    width: 80% !important;
  }
}


@media (max-width: 580px) {
  .user-section {
    width: 96% !important;
  }
}