@import "base.less";

.user-home-wrap {
  width: 100%;
  min-height: ~'calc(100vh - 45px)';
  flex-flow: wrap;
}

.user-section {
  width: 250px;
  padding-bottom: 15px;
  border: 1px solid #455A64;
  border-radius: 6px;
  min-height: 200px;
  margin: 30px 15px;
  .user-section-title {
    height: 40px;
    width: 100%;
    padding: 26px 20px;
    background: #455A64;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    img {
      width: 24px;
    }
    p {
      color: #FFFFFF;
      font-size: 26px;
      font-family: 'Lato', 'Open Sans', sans-serif;
      font-weight: 100;
      margin-left: 10px;
    }
  }
  .content-container {
    .content-row {
      padding: 2px 16px;
      width: 100%;
      p {
        font-family: 'Lato', 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: #455A64;

      }

    }
  }
}