<section class="user-home-wrapper">
  <div class="send-container flex-base-row-center">
    <section class="search-user-section">
      <div class="search-user-section-title flex-base-row-start default-cursor">
        <img src="../assets/search-icon.svg" alt="Search">
        <p>Search Users</p>
        <user-header></user-header>
      </div>
      <div class="search-content-container flex-base-col-start default-cursor">
        <div class="send-instructions">
          <div class="content-row">
            <p style="font-size: 17px;"> Search other SnailBox users and request to add them to your Address Book. </p>
          </div>

          <!--<div class="content-row">-->
            <!--<p style="font-size: 15px;"><span style="font-weight: 400"> Note:</span>&nbsp; If there is a user you cannot add, you are either already connected, have an invite from the user, or have already sent them an invite.</p>-->
          <!--</div>-->
        </div>

        <div class="search-users-container flex-base-row-start" ng-if="!sendCtrl.readyToSend">
          <div angucomplete-alt
               id="allUserSearch"
               placeholder="Search by Name..."
               title-field="firstName,lastName"
               description-field="firstName,lastName"
               search-fields="firstName,lastName"
               local-data="sendCtrl.allUsers"
               selected-object="selectedUser"
               input-class="search-input"
               match-class="highlight"
               pause="200"
               minlength="3">
          </div>
          <img src="../assets/plus-icon-blue.svg" alt="Add User"
               ng-click="sendCtrl.addUserToRequests(selectedUser.originalObject)">
        </div>

        <div class="invitations-container flex-base-row-start" ng-show="sendCtrl.requestedUsers.length > 0">
          <div class="invitations-box">
            <div class="name" ng-repeat="user in sendCtrl.requestedUsers ">
              <img src="../assets/remove.svg" alt="Remove User" ng-click="sendCtrl.removeUserFromRequests(user)">
              {{ user.firstName }} {{ user.lastName }}
            </div>
          </div>
        </div>

        <div class="send-buttons-container flex-base-row-start">
          <div class="btn flex-base-col-center"
               ng-show="!sendCtrl.readyToSend && sendCtrl.requestedUsers.length > 0"
               ng-click="sendCtrl.setReady()">
            <p>Done</p>
          </div>
          <div class="btn add-more-btn flex-base-col-center"
               ng-if="sendCtrl.readyToSend"
               ng-click="sendCtrl.setReady()">
            <p>Cancel</p>
          </div>
          <div class="btn flex-base-col-center"
               ng-if="sendCtrl.readyToSend && sendCtrl.requestedUsers.length > 0"
               ng-click="sendCtrl.sendInvites()">
            <p>Send</p>
          </div>
        </div>

        <div class="send-instructions">
          <div class="content-row">
            <p style="font-size: 14px;"><span style="font-weight: 400"> Note:</span>&nbsp; If there is a user you cannot add, you are either already connected, have an invite from the user, or have already sent them an invite. <span class="review-link" ng-click="sendCtrl.goToReview()">Review requests here.</span></p>
          </div>
        </div>

      </div>
    </section>

    <!--<section class="user-section">-->
    <!--<div class="user-section-title flex-base-row-start default-cursor">-->
    <!--<img src="../assets/mailbox-up-icon.svg" alt="my-address">-->
    <!--<p>Invite to SnailBox</p>-->
    <!--</div>-->
    <!--<div class="content-container flex-base-col-start default-cursor">-->
    <!--<div class="content-row">-->
    <!--<p style="font-size: 15px;"> Can't find anyone you know? Send them an email and invite them to SnailBox. </p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</section>-->


  </div>
</section>