<header class="user-home-header flex-base-row-end">
  <div class="logo flex-base-row-center default-cursor">
    <img src="../assets/snailbox-home.svg" alt="SnailBox Home" ng-click="ctrl.userHome()">
    <img src="../assets/edit-icon-header.svg" alt="Edit Address" ng-click="ctrl.edit()">
    <img src="../assets/plus-icon-header.svg" alt="Review" ng-click="ctrl.send()">
    <img src="../assets/check-icon-header.svg" alt="Add Connections" ng-click="ctrl.review()">
    <img src="../assets/logout.svg" alt="Log Out" ng-click="ctrl.logout()">
  </div>
</header>